
@media(max-width: 768px) {
  .caption--color {
    font-size: 40px;}
    .caption--colorBlack {
    font-size: 40px;}
    .imgRedes{
    width: 40px;
    padding-bottom: 10px;
    }
    
}



@media (min-width: 320px){
 
    .imgRedes{
    width: 40px;
    padding-bottom: 10px;
    }
    }